/.vscode
/a.html
/apple.class
/apple.java
/Assignment
/Hello.class
/Hello.java
/programming in java
/Reference
/TaskManagerApplet$1.class
/TaskManagerApplet$2.class
/TaskManagerApplet$3.class
/TypewriterGameApplet$1.class
/TypewriterGameApplet$2.class
/TypewriterGameApplet$3.class
/TypewriterGameApplet.class
/TypewriterGameApplet.java
/~$signment-2.docx